<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>DCMS</display-name>
  <description>DCMS</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            classpath:applicationContext_oracle.xml,
            classpath:applicationFramework.xml,
            classpath:security.xml,
            classpath:dao/*.xml,
            classpath:mng/*.xml,
        </param-value>
  </context-param>
  <context-param>
    <param-name>startJob</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>errorMessage</param-name>
    <param-value>resources/errorcode.properties</param-value>
  </context-param>
  <context-param>
    <param-name>sessionBetweenSessionTime</param-name>
    <param-value>6000000</param-value>
  </context-param>
  <filter>
    <filter-name>transfilter</filter-name>
    <filter-class>
            com.huateng.ebank.framework.web.TransFilter
        </filter-class>
    <init-param>
      <param-name>EXPIRED_PAGE</param-name>
      <param-value>/common/expired.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>HSBCSSO</param-name>
      <param-value>hsbc_sso.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>NOSSO</param-name>
      <param-value>login_sso.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>/trans/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.dwr</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>strutsFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.StrutsSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>strutsFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>urlFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.UrlAuthorizationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>addHeaderFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>X-Frame-Options</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>no-cache, no-store</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.gzipfilter.GZIPFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Check Request Form Submit</filter-name>
    <filter-class>com.huateng.mvc.filter.XssFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Check Request Form Submit</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>urlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  <listener>
    <listener-class>
            com.huateng.ebank.framework.servlet.listener.ContextLoaderListener
        </listener-class>
  </listener>
  <listener>
    <listener-class>
            com.huateng.ebank.framework.servlet.listener.ApplicationListener
        </listener-class>
  </listener>
  <listener>
    <listener-class>
            com.huateng.ebank.business.remote.base.SessionListener
        </listener-class>
  </listener>
  <listener>
    <listener-class>
            com.huateng.hsbc.mq.MqListener
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <servlet-class>
            com.huateng.ebank.framework.web.commQuery.BankCommQueryInterfaceServlet
        </servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <servlet-class>
            com.huateng.ebank.framework.web.commQuery.BankCommQueryResultServlet
        </servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>commQuery</servlet-name>
    <servlet-class>
            com.huateng.ebank.framework.web.commQuery.BankCommQueryServlet
        </servlet-class>
    <init-param>
      <param-name>CommonQueryConfigLocation</param-name>
      <param-value>
                /WEB-INF/query/meta/CommQryMeta.xml,
                /WEB-INF/query/meta/managementMeta.xml,
                /WEB-INF/query/meta/parammng.xml,
                /WEB-INF/query/meta/sysMngMeta.xml,
                /WEB-INF/query/meta/systemMeta.xml,
                /WEB-INF/query/meta/dataAuditMeta.xml,
                /WEB-INF/query/meta/schedulerMeta.xml,
                /WEB-INF/query/meta/msgMeta.xml,
                /WEB-INF/query/meta/hsbcMeta.xml,
            </param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>
            com.huateng.ebank.framework.servlet.BankHTFreemarkServlet
        </servlet-class>
    <init-param>
      <param-name>incompatible_improvements</param-name>
      <param-value>2.3.26</param-value>
    </init-param>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>9</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
            org.directwebremoting.servlet.DwrServlet
        </servlet-class>
    <init-param>
      <param-name>config-0</param-name>
      <param-value>/WEB-INF/dwr.xml</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>500</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commQuery</servlet-name>
    <url-pattern>/trans/CommQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <url-pattern>/trans/CommQueryInterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <url-pattern>/trans/CommQueryResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransDataAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.commQuery.TransDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransDataAction</servlet-name>
    <url-pattern>/trans/TransDataAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/filedownload/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/fileupload/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommonFileUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.servlet.CommonFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonFileUploadServlet</servlet-name>
    <url-pattern>/commonfileupload/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownFileAction</servlet-name>
    <servlet-class>com.huateng.hsbc.report.DownFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownFileAction</servlet-name>
    <url-pattern>/report/DownFileAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownFileAction</servlet-name>
    <servlet-class>com.huateng.hsbc.dwr.DownFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownFileAction</servlet-name>
    <url-pattern>/dwr/DownFileAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginActionSSO</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LoginActionSSO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginActionSSO</servlet-name>
    <url-pattern>/custlogin_sso</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QryExpAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.QryExpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QryExpAction</servlet-name>
    <url-pattern>/trans/qryExp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/custlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/dcms.mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>*.spring</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login_sso.jsp</welcome-file>
    <welcome-file>hsbc_sso.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <!--<http-method>GET</http-method>-->
			<!--<http-method>PUT</http-method>-->
			<!--<http-method>POST</http-method>-->
			<!--<http-method>DELETE</http-method>-->
  <security-constraint>
		<display-name>SecurityConst_1</display-name>
		<web-resource-collection>
			<web-resource-name>AllResources</web-resource-name>
			<url-pattern>/hsbc_sso.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Allow access secret</description>
			<role-name>secret_role</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>Authenticated Role</description>
		<role-name>testing_role</role-name>
	</security-role>
	<security-role>
		<description>Authenticated Role</description>
		<role-name>secret_role</role-name>
	</security-role>
</web-app>